[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
uvicorn = "*"
fastapi = "*"
python-dotenv = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
